@import './src/styles/variables';

body {
  font-family: 'Soleil', sans-serif;
}

#page {
  background-color: $bg-color;
  height: 100vh;
  .error-page-code {
    font-size: 8rem;
    font-weight: 100;
  }
  .error-page-text {
    font-size: 1rem;
  }
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.card {
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: $secondary-bg-color;
  max-width: 20rem;
  .card__title {
    width: 100%;
    border-bottom: 1px solid $border-color;
    padding: 20px;
    font-size: 18px;
  }
  .card__content {
    padding: 20px;
  }
}

.custom-input {
  .custom-input__wrapper {
    transition: border ease-in 0.3s;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    padding: 3px 10px;
    width: 100%;
    input {
      border: none;
      &:focus {
        border: none;
        outline: 0;
      }
      &::placeholder {
        transition: color ease-in 0.3s;
        color: $placeholder-text-color;
        font-weight: 200;
      }
    }
    &.custom-input__wrapper-error {
      border: 1px solid $input-color-error;
      input {
        color: $input-color-error;
        &::placeholder {
          color: lighten($input-color-error, 30%);
          font-weight: 200;
        }
      }
    }
  }
  .custom-input__error {
    transition: all ease-in 0.4s;
    color: $input-color-error;
    font-size: 12px;
    margin-top: 2px;
    opacity: 0;
    max-height: 0;
    &.custom-input__error-visible {
      opacity: 1;
      max-height: 30px;
    }
  }
}

.form-error {
  transition: max-height ease-in 0.4s;
  color: $input-color-error;
  font-size: 12px;
  max-height: 0;
  opacity: 0;
  &.form-error__visible {
    opacity: 1;
    max-height: 30px;
  }
}

.button {
  transition: background-color ease-in 0.3s;
  background-color: $button-bg-color;
  color: $button-text-color;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 35px;
  font-size: 14px;
  border: none;
  &:hover {
    background-color: lighten($button-bg-color, 10%);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      background-color: $button-bg-color;
    }
  }
}
