$top-bar-height: 64px;
$desktop-menu-width: 240px;
$desktop-min-width: 960px;

$bg-color: #F4F9FC;
$secondary-bg-color: #FFF;
$text-color: #00124F;
$secondary-text-color: #002D4F;
$nav-color: #4C6C83;
$placeholder-text-color: #a5b5c1;


$input-color-error: #9e1e19;
$border-color: #EAEEF4;
$secondary-border-color: #E5E9ED;
$input-border-color: #00000029;

$button-bg-color: #0087EF;
$button-text-color: #FFF;
