@import './src/styles/variables';

#content {
  background-color: $bg-color;
  position: relative;
  margin-top: $top-bar-height;
  min-height: calc(100vh - #{$top-bar-height});
  padding: 40px 10px 60px;
  @media screen and (min-width: $desktop-min-width) {
    margin-left: $desktop-menu-width;
    padding: 40px 70px 60px;
  }
}
