@import './src/styles/variables';

#content {
  background-color: $bg-color;
  position: relative;
  margin-top: $top-bar-height;
  margin-left: $desktop-menu-width;
  min-height: calc(100vh - #{$top-bar-height});
}
