<div fxLayout="column" id="side-menu" [fxShow.lt-md]="false">
  <a href="http://hairstylist.com" target="_blank">
    <img src="assets/images/nicebeauty.com_eu_.png" alt="hairstylist.com"/>
  </a>
  <a class="side-menu__external-link" href="http://hairstylist.com" target="_blank">
    hairstylist.com
  </a>
  <nav>
    <ul id="side-menu__navigation">
      <li><a routerLink="/items">Marketing Plan</a></li>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/ads">My Ads</a></li>
      <li><a routerLink="/analytics">Analytics</a></li>
      <li><a routerLink="/store">Cobiro Store</a></li>
    </ul>
  </nav>
</div>

