@import './src/styles/variables';

#side-menu {
  width: $desktop-menu-width;
  position: fixed;
  left: 0px;
  top: $top-bar-height;
  padding: 40px 40px 0;
  bottom: 0;
  z-index: 999;
  background: $secondary-bg-color;
  display: none;
  &.side-menu__mobile {
    display: block;
    transition: left ease-in 0.3s;
    left: -$desktop-menu-width;
    &.side-menu__visible {
      left: 0;
    }
  }
  &.side-menu__desktop {
    display: block;
  }
  .side-menu__external-link {
    text-align: center;
    color: $secondary-text-color;
    font-size: 14px;
    width: 100%;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 600;
  }
  #side-menu__navigation {
    margin: 57px 0 0 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 33px;
      a {
        text-decoration: none;
        color: $nav-color;
        font-size: 14px;
      }
    }
  }
}
