<div fxLayout="row" fxLayoutAlign="space-between center" id="top-bar">
  <img class="top-bar__logo" src="assets/images/logo.svg" alt="cobiro" />
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="top-bar__user">
    <img class="top-bar__profile-pic" src="assets/avatars/{{ tokenUser.avatar }}" alt="{{ tokenUser.username }}" />
    <span class="top-bar__user-name">{{ tokenUser.username }}</span>
    <img src="assets/images/arrow-down.svg" alt="arrow-down" />
  </div>
</div>
